.panel {
	height: 100%;
}
.panel .panel-header {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.panel .panel-body {
	height: 100%;
}
.panel .panel-body,
.panel .panel-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel .panel-header > .ant-card-body {
	padding: 0.2rem 1.2rem;
}
.panel .panel-footer > .ant-card-body {
	padding: 1.2rem;
}

.panel .panel-body:has(~ .panel-footer){
	border-radius: 0;
}

.panel .panel-body > .ant-card-body {
	position: relative;
}