#viewport {
	width: 100%;
	height: 100vh;
	padding: 1rem;

	display: grid;
	grid-template:
		"a a a b b b" 1fr
		"a a a b b b" 1fr
		"c c d d e e" 1fr
		/ 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;

	background-color: rgba(var(--rgb-primary), 0.25);

	overflow: hidden;
}

#viewport > .panel:nth-child(1) {
	grid-area: a;
}
#viewport > .panel:nth-child(2) {
	grid-area: b;
}
#viewport > .panel:nth-child(3) {
	grid-area: c;
}
#viewport > .panel:nth-child(4) {
	grid-area: d;
}
#viewport > .panel:nth-child(5) {
	grid-area: e;
}
#viewport > .panel:not(:nth-child(1)):not(:nth-child(2)) {
	max-height: calc(50vh - 16rem);
}

#cameraContainer,
#previewContainer {
	flex: 1;
	overflow: auto;
}
#cameraCanvas,
#previewCanvas {
	border-radius: 1rem;
}
#cameraControls,
#previewControls {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
#cameraControls button,
#previewControls button {
	flex: 1 !important;
	width: 100%;
}

#cameraOptionsContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	gap: 2rem;
}