#viewport-card {
	width: 100vw;
	height: 100vh;
}

#viewport-card > .ant-card-body {
	display: grid;
	grid-template-columns: repeat(6, 1fr) repeat(6, 1fr); 
	grid-template-rows: repeat(4, 1fr) repeat(2, 1fr); 
	grid-template-areas: 
		"a a a a a a b b b b b b"
		"a a a a a a b b b b b b"
		"a a a a a a b b b b b b"
		"a a a a a a b b b b b b"
		"c c c c d d d d e e e e"
		"c c c c d d d d e e e e"; 
	grid-gap: 1.6rem;

	overflow: hidden;
}

#viewport-card > .ant-card-body > .panel:nth-child(1) {
	grid-area: a;
}
#viewport-card > .ant-card-body > .panel:nth-child(2) {
	grid-area: b;
}
#viewport-card > .ant-card-body > .panel:nth-child(3) {
	grid-area: c;
}
#viewport-card > .ant-card-body > .panel:nth-child(4) {
	grid-area: d;
}
#viewport-card > .ant-card-body > .panel:nth-child(5) {
	grid-area: e;
}